# User Constraint File for iCE40hx8k Breakout Board

# Onboard LEDs
set_io --warn-no-port  LED[0] B5
set_io --warn-no-port  LED[1] B4
set_io --warn-no-port  LED[2] A2
set_io --warn-no-port  LED[3] A1
set_io --warn-no-port  LED[4] C5
set_io --warn-no-port  LED[5] C4
set_io --warn-no-port  LED[6] B3
set_io --warn-no-port  LED[7] C3

# Onboard 12Mhz oscillator
set_io CLK J3   # 12Mhz

# USART
set_io --warn-no-port  TX  B12  # out
set_io --warn-no-port  RX  B10  # in
set_io --warn-no-port  DCD B15  # out
set_io --warn-no-port  DSR B14  # out
set_io --warn-no-port  DTR A16  # in
set_io --warn-no-port  CTS A15  # out
set_io --warn-no-port  RTS B13  # in

# SPI
set_io --warn-no-port  SPI_CLK  R15  #
set_io --warn-no-port  SPI_MOSI P15  #
set_io --warn-no-port  SPI_MISO M15  #
set_io --warn-no-port  SPI_CS   L16  #

# GPIO
set_io --warn-no-port  GPIO     B16
